@using MVCRouting.Infrastructure.Routing
@using MVCRouting.Infrastructure.Urls;
@{
    ViewBag.Title = "Index";
}

<h2>Inventory Page</h2>

<a href="@Url.CreateLink("Inventory", "")">Inventory Link</a><br/>
<a href="@Url.CreateLink("Inventory", "Search")">Search Link</a>

